### <a name="<%-item.href%>">`<%-item.signature%>`</a>

<%-item.description%>
<%-include itemParameters.ejs-%>
<%-include itemTypeDefParams.ejs-%>
<%-include itemReturns.ejs-%>
<%-include itemTypeDefReturns.ejs-%>
<%-include itemExamples.ejs-%>