<a name="<%-item.href%>"></a>
### `<%-item.signature%>`

<%-item.description%>
<%-include itemParameters.ejs-%>
<%-include itemTypeDefParams.ejs-%>
<%-include itemReturns.ejs-%>
<%-include itemTypeDefReturns.ejs-%>
<%-include itemExamples.ejs-%>